.modal {
    width: 270px;
    position: absolute;
    z-index: 13500;
    left: 50%;
    margin-left: -135px;
    margin-top: 0;
    top: 50%;
    text-align: center;
    border-radius: 13px;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0) scale(1.185);
    transform: translate3d(0,0,0) scale(1.185);
    -webkit-transition-property: -webkit-transform,opacity;
    -moz-transition-property: -moz-transform,opacity;
    -ms-transition-property: -ms-transform,opacity;
    -o-transition-property: -o-transform,opacity;
    transition-property: transform,opacity;
    color: #000;
    display: none;
}

.navbar {
    position: absolute;
}

.list-block .item-title.label, .list-block .item-input {
    width: auto;
}

input[type="number"], .number input {
    text-align: right;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.navbar .center {
    margin: auto;
}

.page {
    padding-top: 44px;
}

.forward-enter {
    transform: translate(100%);
}
.forward-enter.forward-enter-active {
    transform: translate(0%);
    transition: transform 300ms ease-out;
}
.forward-leave {
    transform: translate(0%);
}
.forward-leave.forward-leave-active {
    transform: translate(-100%);
    transition: transform 300ms ease-out;
}


.back-enter {
    transform: translate(-100%);
}
.back-enter.back-enter-active {
    transform: translate(0%);
    transition: transform 300ms ease-out;
}
.back-leave {
    transform: translate(0%);
}
.back-leave.back-leave-active {
    transform: translate(100%);
    transition: transform 300ms ease-out;
}